# KPI Inmigrantes en AMBA

## Importando Librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime  # Importa datetime
import regex as re

## Extracción y Limpieza

In [7]:
df_residencias12017= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/recidencias-otorgadas-1-trimestre---ano---2017.csv")
df_residencias12017

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          2836        23678        10631  37145
1               BUENOS AIRES           288         4986         3839   9113
2                   SANTA FE           131          570          740   1441
3                    CORDOBA           272          578          348   1198
4                      SALTA            12          435          323    770
5                    MENDOZA            76          371          302    749
6                     CHUBUT            30          376          258    664
7                   MISIONES             3          240          278    521
8                 CORRIENTES             9          220          242    471
9                    NEUQUEN            28          195          155    378
10                 RIO NEGRO            47          192          134    373
11          TIERRA DEL FUEGO           175           51           93    319
12                ENTRE RIOS            40          110          110    260
13                   FORMOSA             1          107          141    249
14                  SAN JUAN            20           96           86    202
15                   TUCUMAN            32           88           76    196
16                     JUJUY            19           89           82    190
17                  LA RIOJA             7           86           83    176
18                SANTA CRUZ             8           92           58    158
19                  SAN LUIS             3           54           45    102
20                  LA PAMPA            15           35           37     87