In [54]:
import numpy as np
import pandas as pd

### TRANSFORMACIONES ARCHIVO STOCK MIGRATORIO NACIONES UNIDAS

### 1. Ingesta de datos

In [55]:
df_stock = pd.read_excel('Naciones_Unidas_undesa_pd_2020_ims_stock_by_sex_destination_and_origin.xlsx',engine='openpyxl',sheet_name='Table 1',skiprows= 10)

Cambio nombre de algunas columnas

In [56]:
df_stock.columns=['Index','Destination','Notes of destination','Location code of destination', 'Type of data of destination', 'Origin','Location code of origin','1990',
                                                              '1995',
                                                              '2000',
                                                              '2005',
                                                              '2010',
                                                              '2015',
                                                              '2020',
                                                              '1990.1',
                                                              '1995.1',
                                                              '2000.1',
                                                              '2005.1',
                                                              '2010.1',
                                                              '2015.1',
                                                              '2020.1',
                                                              '1990.2',
                                                              '1995.2',
                                                              '2000.2',
                                                              '2005.2',
                                                              '2010.2',
                                                              '2015.2',
                                                              '2020.2']

Me quedo solo con las columnas que tienen el total de migrantes y descarto las que tienen migranetes hombre y mujers que son las que tenian la fecha.1 y fecha.2<br>
año: Inventario de migrantes internacionales a mitad de año, ambos sexos combinados. <br>
año.1:Inventario de migrantes internacionales a mitad de año, hombres. <br>
año.2:Inventario de migrantes internacionales a mitad de año, mujeres <br>

In [57]:
df_stock=df_stock[['Index', 'Destination', 'Notes of destination',
       'Location code of destination', 'Type of data of destination', 'Origin',
       'Location code of origin', '1990', '1995', '2000', '2005', '2010',
       '2015', '2020']]

Me fijo si hay duplicados

In [58]:
df_stocks_duplicated=  df_stock_no_genero.duplicated()
df_stocks_duplicated.sum()

0

Analizo los parametros estadisticos para detectar anomalias o outlieras. Se ve todo dentro de rangos normales

In [59]:
df_stock.describe()

,Index,Notes of destination,Location code of destination,Location code of origin,1990,1995,2000,2005,2010,2015,2020
count,37051.000000,3574.000000,37051.000000,37051.000000,3.705100e+04,3.705100e+04,3.705100e+04,3.705100e+04,3.705100e+04,3.705100e+04,3.705100e+04
mean,18526.000000,19.478176,745.930663,761.146231,2.959657e+05,3.094353e+05,3.304824e+05,3.640804e+05,4.230856e+05,4.775787e+05,5.425222e+05
std,10695.846748,11.194135,732.774287,736.658418,2.596883e+06,2.735540e+06,2.975041e+06,3.306144e+06,3.872671e+06,4.360690e+06,4.922727e+06
min,1.000000,1.000000,4.000000,4.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9263.500000,10.000000,336.000000,356.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.000000e+00,5.000000e+00
50%,18526.000000,18.000000,686.000000,702.000000,1.980000e+02,2.480000e+02,2.960000e+02,3.670000e+02,4.590000e+02,5.220000e+02,6.080000e+02
75%,27788.500000,30.000000,916.000000,920.000000,8.234500e+03,9.629000e+03,1.058800e+04,1.250050e+04,1.456500e+04,1.594900e+04,1.851700e+04
max,37051.000000,41.000000,5501.000000,5501.000000,1.529862e+08,1.612900e+08,1.732306e+08,1.914468e+08,2.209832e+08,2.479586e+08,2.805981e+08

Con la función describe verifico los máximos y mínimmos de cada columna. Observo que los registros maximos son todos del mismo orden de magnitud.

Voy a agregar el codigo de pais que usa el dataset del banco mundial para despues poder unir lo datos

In [68]:
codigos=pd.read_csv('codigo_pais.csv')

# Genero un diccionario con los valores de los codigos que estan en el archivo all para despues hacer el reemplazo
codigos['country-code']=codigos['country-code'].astype(str)
codigos['country-code']=codigos['country-code'].str.strip()

codigos['alpha-3']=codigos['alpha-3'].astype(str)
codigos['alpha-3']=codigos['alpha-3'].str.strip()

diccionario = dict(zip(codigos['country-code'], codigos['alpha-3']))


# Genero columnas nuevas con los codigos ISO03
df_stock['Location code of destination'] = df_stock['Location code of destination'].astype(str)
df_stock['Location code of origin'] = df_stock['Location code of origin'].astype(str)

df_stock['ISO3_dest'] = df_stock['Location code of destination'].map(diccionario)
df_stock['ISO3_origin'] = df_stock['Location code of origin'].map(diccionario)

In [61]:
df_stock['ISO3_origin'].nunique()

234

ISO3_originMe quedo solo con los registros que tengan el codigo pais (porque habia otros destinos y origen que eran grupos de paises, o regiones y esos no los tengo que tener en cuenta en el dataframe)

In [62]:
df_stock = df_stock[df_stock['ISO3_origin'].notnull() & df_stock['ISO3_dest'].notnull()]

In [63]:
df_stock_no_genero

,Index,Destination,Notes of destination,Location code of destination,Type of data of destination,Origin,Location code of origin,1990,1995,2000,2005,2010,2015,2020,ISO3_dest,ISO3_origin
6557,6558,Burundi,NaN,108,B R,Belgium,56,642,621,475,466,497,605,718,BDI,BEL
6558,6559,Burundi,NaN,108,B R,Democratic Republic of the Congo,180,36654,41447,37951,99099,147611,175768,199585,BDI,COD
6559,6560,Burundi,NaN,108,B R,France*,250,321,310,237,232,248,302,358,BDI,FRA
6560,6561,Burundi,NaN,108,B R,Kenya,404,186,216,202,502,847,1032,1226,BDI,KEN
6561,6562,Burundi,NaN,108,B R,Rwanda,646,221943,160197,66415,61104,54794,64363,76567,BDI,RWA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37045,37046,Wallis and Futuna Islands*,41.0,876,B R,France*,250,327,461,545,646,795,877,889,WLF,FRA
37046,37047,Wallis and Futuna Islands*,41.0,876,B R,French Polynesia*,258,18,23,28,32,19,15,10,WLF,PYF
37047,37048,Wallis and Futuna Islands*,41.0,876,B R,Mayotte*,175,35,44,52,58,41,38,27,WLF,MYT
37048,37049,Wallis and Futuna Islands*,41.0,876,B R,New Caledonia*,540,843,975,1152,1207,1093,1021,1021,WLF,NCL
37049,37050,Wallis and Futuna Islands*,41.0,876,B R,Vanuatu,548,152,165,195,197,138,72,67,WLF,VUT

### Genero una funcion que cambie la estructura del dataframe poniendo los años en las filas

In [64]:
def cambio_estructura (df):
    df_melted = pd.melt(df, id_vars=['Destination', 'Notes of destination', 'Location code of destination','ISO3_dest','Type of data of destination', 'Origin', 'Location code of origin','ISO3_origin'], 
    value_vars=['1990', '1995', '2000', '2005', '2010', '2015', '2020'], 
    var_name='Year', value_name='Migrant stock')
    final = df_melted
    return final

In [65]:
Stock_migrantes = cambio_estructura(df_stock)

In [66]:
Stock_migrantes

,Destination,Notes of destination,Location code of destination,ISO3_dest,Type of data of destination,Origin,Location code of origin,ISO3_origin,Year,Migrant stock
0,Burundi,NaN,108,BDI,B R,Belgium,56,BEL,1990,642
1,Burundi,NaN,108,BDI,B R,Democratic Republic of the Congo,180,COD,1990,36654
2,Burundi,NaN,108,BDI,B R,France*,250,FRA,1990,321
3,Burundi,NaN,108,BDI,B R,Kenya,404,KEN,1990,186
4,Burundi,NaN,108,BDI,B R,Rwanda,646,RWA,1990,221943
...,...,...,...,...,...,...,...,...,...,...
83652,Wallis and Futuna Islands*,41.0,876,WLF,B R,France*,250,FRA,2020,889
83653,Wallis and Futuna Islands*,41.0,876,WLF,B R,French Polynesia*,258,PYF,2020,10
83654,Wallis and Futuna Islands*,41.0,876,WLF,B R,Mayotte*,175,MYT,2020,27
83655,Wallis and Futuna Islands*,41.0,876,WLF,B R,New Caledonia*,540,NCL,2020,1021
83656,Wallis and Futuna Islands*,41.0,876,WLF,B R,Vanuatu,548,VUT,2020,67